@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=JetBrains+Mono:wght@400;700&display=swap");

body {
  background-color: #030637;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #030637;
}
::-webkit-scrollbar-thumb {
  background: #3c0753;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #720455;
}

 
 

